ObservingProgetto/files/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


	<xs:element name="type">
	  <xs:simpleType>
	    <xs:restriction base="xs:string">
	      <xs:enumeration value="Accesso"/>
	      <xs:enumeration value="Uscita"/>
	    </xs:restriction>
	  </xs:simpleType>
	</xs:element>

	<xs:element name="timestamp" type="xs:dateTime"/>

<xs:element name="message">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="type"/>
			<xs:element ref="timestamp"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>
